html, body{
    width: 100%;
    margin: 0px;
    background-image: url('../img/food.png');
    font-family: 'Raleway', sans-serif;
}
.header{
    height: 100px;
    background-color: rgba(52,52,52,.1);
}

.header_logo{
    color: #3289a9;
    font-size: 50px;
    padding-top: 20px;
    padding-left: 30px;
    float: left;
    cursor: pointer;
}

.header_menu{
    float: right;
    padding-right: 40px;
    padding-top: 50px;
}

.content{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
/*    background-color: rgba(52,52,52,.05);*/
    margin-top: 50px;
/*    padding: 10px;*/
}

.item{
    background-color: rgba(52,52,52,.05);
    margin-bottom: 20px;
    padding: 10px;
    border-left: 2px solid #3289a9;
    border-bottom: 2px solid #3289a9;
    cursor: pointer;
}

.item:hover{
    background-color: rgba(52,52,52,.09);
}
.item_header{
    border-bottom: 1px dashed black;
}
.item_img{
    width: 100px;
    border-radius: 50px;
    height: 100px;
}
.item_name{
    font-size: 20px;
    color: #e75858;
}

.item_desc{
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn_buy{
    border: 1px solid black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #58e784;
    text-align: center;
}

a{
    color: #2a7fba;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}